<div class="content-wrapper">

    <section class="content-header">
        <h1>
            Admin Portal
            <small>Assign Right to User</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <table id="tblDataList" class="table table-striped table-bordered responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Module Name</th>
                            <th>Sub Module Name</th>
                            <th>Read Accesss</th>
                            <th>Write Accesss</th>
                            <th>Update Accesss</th>
                        </tr>
                    </thead>
                    

                </table>
            </div>
        </div>
    </section>

</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

    function GetUserAccessDetails() {
        $.get("http://localhost:33266/api/PortalMenuMasterAPI/GetUserAccess",
            { userName: 'Deepak' },
            function (data) {
                data.each(function (dataValue, index) {

                });
                debugger;
            });
    }


    $(document).ready(function () {
        GetUserAccessDetails();

        debugger;
        $('.hideTr').slideUp(600);
        $('[data-toggle="toggle"]').click(function () {
            if ($(this).parents().next(".hideTr").is(':visible')) {
                $(this).parents().next('.hideTr').slideUp(600);
                $(".plusminus" + $(this).children().children().attr("id")).text('+');
                $(this).css('background-color', 'white');
            }
            else {
                $(this).parents().next('.hideTr').slideDown(600);
                $(".plusminus" + $(this).children().children().attr("id")).text('- ');
                $(this).css('background-color', '#c1eaff ');
            }
        });
    });
</script>  