<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        Invoice Type
                    </th>
                    <th>
                        Invoice Source
                    </th>
                    <th>
                        Invoice Number
                    </th>

                    <th>
                        Invoice Date
                    </th>
                    <th>
                        Invoice GL Date
                    </th>
                    <th>
                        Total Invoice Amount
                    </th>

                    <th>
                        Invoice Currency
                    </th>
                    <th>
                        Exchange Rate
                    </th>
                    <th>
                        SAR Invoice
                    </th>
                    <th>
                        Supplier Number
                    </th>
                    <th>
                        Supplier Name
                    </th>

                    <th>
                        Supplier Site
                    </th>
                    <th>
                        Supplier Address
                    </th>
                    <th>
                        Supplier Country
                    </th>

                    <th>
                        Supplier Bank Account
                    </th>
                    <th>
                        Supplier VAT Registration
                    </th>
                    <th>
                        Invoice Status
                    </th>

                    <th>
                        Payment Status
                    </th>
                    <th>
                        Payment Amount
                    </th>
                    <th>
                        Payment Method
                    </th>
                    <th>
                        Payment Term
                    </th>
                    <th>
                        Invoice Line mnumber
                    </th>
                    <th>
                        Invoice Line Description
                    </th>
                    <th>
                        Po number
                    </th>
                    <th>
                        PoDate
                    </th>
                    <th>Release Date</th>
                    <th>Receipt Number</th>
                    <th>Receipt Date</th>
                    <th>PO item number</th>
                    <th>PO item Description</th>

                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Discount Amount</th>
                    <th>Discount Percentage</th>
                    <th>Contract Number</th>

                    <th>Contract Start Date</th>
                    <th>Contract End Date</th>
                    <th>Tax Line Number</th>
                    <th>Product Type</th>
                    <th>Tax Code</th>

                    <th>Tax Rate Code</th>
                    <th>TaxRate</th>
                    <th>Tax Able Amount</th>
                    <th>SAR Taxable Amount</th>
                    <th>NonRecover Taxable Amount</th>
                </tr>
            </thead>

        </table>
    </div>
</div>